/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

/* main */
body {
  display: flex;
  justify-content: center;
  
  padding: 2vw;
}

div.full-wrap {
  display: flex;
  flex-direction: column;

  width: min(1000px, 90vw);
}

div.top {
  display: flex;
  justify-content: space-between;
}

div.search-container {
  border: 2px solid black;
  padding: 10px 15px;
}

div.current-container {
  display: flex;
  flex-wrap: wrap;
}

.current-container .current-img {
  width: min(500px, 90vw);
  background-color: green;
  border: 2px solid black;

  /* temp */aspect-ratio: 1/0.5;
  
}

.current-container .current {
  border: 2px solid black;
  padding: 20px;

  flex: 1;
  
}

.current-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.current-date,
.current-time {
  font-size: 1.5rem;
}

.current-temp {
  align-self: flex-end;

  font-size: 4rem;
}