@font-face {
  font-family: 'basiic';
  src: url(./basiic.ttf);
}

@font-face {
  font-family: 'yoster';
  src: url(./yoster.ttf);
}

@font-face {
  font-family: 'heartfont';
  src: url(./heartfont.ttf);
}
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

/* main */
* {
  --lightest: #ffffff;
  --light: #f5ebd1;
  --dark: #4eb13c;
  --darkest: #1f4e17;
  --accent1: #ffda0f;
  --accent1-light: #ffea2c;
  --accent2: #e98274;

  --border: 3px solid var(--darkest);
}

body {
  display: flex;
  justify-content: center;
  
  padding: 2vw;
  font-family: 'basiic', 'Nimbus Mono PS', 'Courier New', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--darkest);
  background-color: var(--light);
}

div.full-wrap {
  display: flex;
  flex-direction: column;

  width: min(1000px, 90vw);
}

div.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.search-container {
  border: var(--border);
  padding: 10px 15px;
  background-color: var(--dark);
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

form input {
  background-color: var(--light);
  border: var(--border);
  padding: 0 10px;
}

form label {
  color: var(--lightest);
  font-weight: bold;
  font-family: 'yoster', sans-serif;
}

form button {
  background-color: var(--accent1);
  color: var(--darkest);
  outline: 2px solid var(--darkest);
}

div.top button.change-unit {
  background-color: var(--accent2);
  color: var(--darkest);
  padding: 10px 20px;
  outline: var(--border);
  border-radius: 10px;
}

div.current-container {
  display: flex;
  flex-wrap: wrap;
}

.current-container .current-img {
  width: min(500px, 90vw);
  background-color: transparent;
  border: var(--border);
  
}

.current-img > img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.current-container .current {
  border: var(--border);
  padding: 20px;
  background-color: var(--dark);
  color: var(--lightest);

  flex: 1;
  
}

.current-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  color: var(--accent1-light);
}

.current-date,
.current-time {
  font-size: 1.5rem;
}

.current-temp {
  align-self: flex-end;

  font-size: 4rem;
}

div.bottom-containers {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.hours-container {
  width: min(270px, 100%);
  height: 500px;
  overflow-y: scroll;

  background-color: var(--dark);
  color: var(--lightest);
  scrollbar-color: var(--accent1) var(--dark);
  border: var(--border);
}

.hour {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 15px;
  border-bottom: var(--border);
}

.hour-time {
  font-size: 1.8rem;
}

.hour-info {
  display: flex;
  justify-content: space-between;
}

.hour-info img {
  width: 50px;
}

.hour-percipprob img {
  width: 1.5rem;
  margin-right: 0.7rem;
}

.days-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;

  height: 500px;
  padding: 40px 20px;
  overflow-y: scroll;
  scrollbar-color: var(--dark) transparent;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 15px;
  border: var(--border);
  border-radius: 10px;
  background-color: var(--accent1);
  box-shadow: 5px 5px 1px 3px var(--dark);
  
}

.day img {
  width: 50px;
}

.day-date {
  font-size: calc(1rem + 1vw);
}

.day-percipprob img {
  width: 1.5rem;
  margin-right: 0.7rem;
}

